body
		{
			background:url("image/bg1_1.jpg") no-repeat center center fixed;
			background-size: cover;
		}

table
	{
		font-family: Courier;
		font-size: 24px; 
		width: 300px;
		border: 1px solid white;
		border-radius: 18px;
		margin: 0 auto;
		background-color: rgb(232,232,232);
	}

td {text-align: center;}
a {text-decoration: none;}
a:link {color:#CC0066;}
div {padding-top: 200px;}

.header {
		font-family: serif;
		font-size: 30px;
		color: white;
	}		
.kit_ua, .kit_ru, .kit_jp, .author, .dish
	{
		padding: 10px; 
		margin: 5px;
		font-weight: bold;
	}

.kit_ua:hover
	{
		background: url("image/flagUa.png") no-repeat left ;
		background-color: lightblue;
		border-radius: 18px 18px 0 0;
		box-shadow: inset 5px 7px 10px gray;
	}

.kit_ru:hover
	{
		background: url("image/flagRu.png") no-repeat left;
		background-color: lightblue;
		box-shadow: inset 5px 7px 10px gray;
	}

.kit_jp:hover
	{
		background: url("image/flagJP.png") no-repeat left;
		background-color: lightblue;
		box-shadow: inset 5px 7px 10px gray;
	}
.author:hover
{
    background: url("image/icon-info.png") no-repeat left;
    background-color: lightblue;
    box-shadow: inset 5px 7px 10px gray;
}
.dish:hover
{
    background-color: lightblue;
    border-radius: 0 0 18px 18px;
    box-shadow: inset 5px 7px 10px gray;
}


