body
{
    background-color: #11747a;
}
.wrapper
{
    width: 1000px;
    margin: 0 auto;
}
.header
{
    float: left;
    text-align: center;
    margin-bottom: 70px;
}
h1
{
    margin-bottom: 70px;
    font: 54px/0 'Times New Roman', sans-serif;
    text-align: center;
    color: white;
}
.header img
{
    margin-top: 100px;
    margin-bottom: 15px;
    padding: 10px 15px;
    border: 3px dotted  white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.header .name-author
{
    display: block;
    font: bold 32px 'Courier', sans-serif;
    color: white;
}
.content
{
    float: right;
    font: 20px "Times New Roman", sans-serif;
    color: white;
}
.content a
{
    text-decoration: none;
    color: orangered;
}
.content h2
{
    text-align: center;
}