body
{
	background: #180000; 
	font-family: Courier;
	font-size: 14px;
	color: white;
}
li
{
    float: left;
    margin-right: 50px;
    list-style: none;
}
li:last-child
{
    margin-right: 0;
}
ul
{
    width: 900px;
    margin-left: 300px;
    margin-bottom: 70px;
}
a 
{
    padding: 15px;
    background-color:#500000;
    border-radius: 8px;
    font: bold 30px/10px 'Times New Roman', sans-serif;
	text-decoration: none;
	color: white;
}
a:hover
{
    background: #990033;
    border-bottom: 2px solid white;
}
li:nth-child(2) a
{
	background: #FF0033;
    border-bottom: 2px solid white;
}
h1
{
    border-top: 2px solid white;
    padding-top: 20px;
	color: white;
	text-align: center;
}

.foto1
{
	float: left;
	margin: 10px;
	padding: 10px;
}

.text_Foto1
{
	line-height: 25px;
	font-size: 18px;
}
.do_eat
{
	line-height: 25px;
	font-size: 18px;
	text-weight: normal;
	font-family: Arial sens-serif;
	text-align: justify;
}

.copyright
{
	font-family: Arial;
	font-size: 10px;
	text-align: center;
	font-weight: normal;
	background: #600000;
	width: 100%;
}
.content
{
    margin: 0 auto;
}
.content ul
{
    width: 700px;
}
.content li
{
    text-align: center;
    margin-bottom: 70px;
}
.content li img
{
    width: 150px;
    height: 150px;
}
.content li p
{
    float: right;
}
