.wrapper
{
    width: 900px;
    margin: 0 auto;
}
.content
{
    width: 500px;
    margin: 0 auto;
}
.content h1
{
    text-align: center;
}
.content fieldset
{
    margin-bottom: 20px;
}
/*====fieldset == 1 =====*/
.content li
{
    list-style: none;
    margin-bottom: 15px;
}
.content legend
{
    font-weight: bold;
}
.content input
{
    margin-left: 20px;
}
.content li:nth-child(2) input
{
    margin-left: 35px;
}
.content li:nth-child(3) input
{
    margin-left: 40px;
}
/*=======fieldset == 2 ========*/
.second-in li:nth-child(2) select
{
    margin-left: 60px;
}
.second-in li:nth-child(3) textarea
{
    display: block;
    margin-top: 5px;
    width: 200px;
    height: 150px;
    resize: none;
    overflow: hidden;
}